.container {
    width: 600px;
    height: 600px;
    margin:0 auto;
    display: grid;
    background-color: white;
    opacity: .1;
    grid-gap: 3px;
    border: 3px solid white;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: auto auto auto auto auto auto auto auto auto;
    z-index: 999;
}

.container {
    font-family: sans-serif;
}

button {
    font-size: 30px;
    background-color: gray;
}
button:hover {
    cursor: pointer;
}
.card {
    position: relative;
    background-color: #383737;
    cursor: pointer;
}
.card::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.card:hover {
    animation: white_blink 3s 1;
    animation-iteration-count: infinite;
}
.card.one::before {
    content: "1";
}
.card.two::before {
    content: "2";
}
.card.three::before {
    content: "3";
}
.card.four::before {
    content: "4";
}
.card.five::before {
    content: "5";
}
.card.six::before {
    content: "6";
}
.card.seven::before {
    content: "7";
}
.card.eight::before {
    content: "8";
}
.card.nine::before {
    content: "9";
}
.card.red {
    animation: white_blink 3s 1;
    animation-iteration-count: infinite;
}

@keyframes white_blink {
    0%      {opacity: 0;}
    25%     {opacity: .3;}
    50%     {opacity: 0;}
    75%     {opacity: .3;}
    100%    {opacity: 0;}
}




